@using Archspace2
@using Archspace2.Extensions
@{
    ViewData["Title"] = "Diplomacy Status List";
    Layout = "_LayoutGame";
    Player player = (Player)ViewData["Player"];
    Council council = player.Council;
}

<main>
    <table>
        <thead>
            <tr>
                <td>Name</td>
                <td>Power</td>
                <td>Relation</td>
                <td>Status</td>
                <td>Select</td>
            </tr>
        </thead>
        <tbody>
            @foreach (Player councilMember in council.Players)
            {
            <tr>
                <td>@(councilMember.GetDisplayName())</td>
                <td>@(councilMember.Power)</td>
                <td>@(player.GetMostSignificantRelation(councilMember).ToString().ToFriendlyString())</td>
                <td>@(player.Mailbox.GetRelevantOutstandingDiplomaticProposal(councilMember).ToString().ToFriendlyString())</td>
                <td>@if (councilMember != player) { <input name="ids" type="checkbox" value=@(councilMember.Id) /> }</td>
            </tr>
            }
        </tbody>
    </table>

    <select id="action">
    </select>

    <button type="submit" onclick="performMassActionsAsync()">Execute</button>
</main>

@section Scripts {
    <script src="~/js/diplomacyManagement.js"></script>
    <script>
        (async () => { 
            let actions = await getMassActionsAsync();

            let actionElement = document.querySelector("#action");
            let keys = Object.keys(actions);
            let optionString = "";

            for (let i = 0; i < keys.length; i++) {
                optionString += "<option name='mass-action' value='" + keys[i] + "'>" + actions[keys[i]] + "</option>";
            }

            actionElement.innerHTML = optionString;
        })()
    </script>
}