@using Archspace2
@using Archspace2.Extensions
@{
    ViewData["Title"] = "Recall";
    Layout = "_LayoutGame";
    Player player = (Player)ViewData["Player"];
}

<main>
    <table>
        <thead>
            <tr>
                <td>Name</td>
                <td>Mission</td>
                <td>Select</td>
            </tr>
        </thead>
        <tbody>
            @foreach (Fleet fleet in player.Fleets.OrderBy(x => x.Order))
            {
            <tr>
                <td>@(fleet.GetDisplayName())</td>
                <td>@(fleet.Mission.Type.ToString().ToFriendlyString())</td>
                <td><input type="checkbox" name="ids" value=@(fleet.Id) @if (!fleet.Mission.CanTerminateEarly()) { <text>disabled</text> } /></td>
            </tr>
            }
        </tbody>
    </table>

    <button type="submit" onclick="recallFleetsAsync()">Recall</button>
</main>

@section Scripts {
    <script src="~/js/recall.js"></script>
}