@using Archspace2
@{
    ViewData["Title"] = "Archspace 2";
    Layout = "_LayoutSplash";
}

<a href="archspace"><img class="splash" src="~/images/archspace.jpg" /></a>

@if (Context.User.Identity.IsAuthenticated)
{
    <li><a asp-area="" asp-controller="Home" asp-action="Logout">Logout</a></li>
}
else
{
    <li><a asp-area="" asp-controller="Home" asp-action="Protected">Login</a></li>
}